[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/buildout.jenkins/master/versions.cfg
    https://raw.githubusercontent.com/IMIO/buildout.jenkins/master/qa.cfg

extensions = mr.developer
auto-checkout = *
sources-dir = devel

package-name = imio.ckeditortemplates
package-extras = [test]

parts +=
    robot
    omelette
    translation
    plonesite

[instance]
eggs +=
    Pillow
    ipdb
zcml +=
    imio.ckeditortemplates:testing.zcml

[plonesite]
recipe = collective.recipe.plonesite
site-replace = True
site-id = Plone
profiles = imio.ckeditortemplates:testing

[translation]
recipe = infrae.i18nextract
packages  = imio.ckeditortemplates
output = ${buildout:directory}/src/imio/ckeditortemplates/locales
output-package = imio.ckeditortemplates
domain = imio.ckeditortemplates

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[reload, debug]

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
zc.buildout = 2.9.5
setuptools = 33.1.1
collective.ckeditor = 4.3.0b2
plone.app.contenttypes = 1.1b6

[sources]
collective.ckeditortemplates = git git@github.com:IMIO/collective.ckeditortemplates.git
